# Root .gitignore
.pytest_cache/
*.pytest_cache

# Secrets & Local Envs
.env.local
.env.*
!.env.example

# Virtual Envs
.venv/

# Notebooks
.ipynb_checkpoints/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
