# Pytest
.pytest_cache/
*.pytest_cache

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# Secrets
.env
.env.*
.env.local
!.env.example
secrets.json
credentials.json

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
